header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* Header Socials */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8 rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* Headshot Image Style */

.me img {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES / TABLETS) */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* MEDIA QUERIES (MEDIUM DEVICES / TABLETS) */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials {
        display: none;
    }
}