.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    gap: 2.5rem;
    padding: 0px;
}

article.portfolio_item {
    background: var(--color-primary);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    color: var(--color-white);
    align-content: center;
}

.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES / TABLETS) */
@media screen and (max-width: 1024px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* MEDIA QUERIES (MEDIUM DEVICES / TABLETS) */
@media screen and (max-width: 600px) {
   .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
   }
}